Repository nutanix-cloud-native/cluster-api-ipam-provider-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, golangci-lint, chart-docs, hugo-mod-tidy, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

fix: in getClusterByExtID type is already dereferenced
  internal/client/cluster.go
Due: golangci-lint

refactor: simplify GetSubnet function
  internal/client/networking.go
Due: golangci-lint

fix: getByExt incorrectly expecting pointers (#51)
  internal/client/cluster.go
  internal/client/networking.go
Due: golangci-lint

feat: Add verbose flag and hide API calls by default
  cmd/caipamx/main.go
Due: golangci-lint

feat: Add verbose flag and hide API calls by default (#58)
  cmd/caipamx/main.go
Due: golangci-lint

build: Update all tools
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  devbox.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint, chart-docs, check-devbox-lock

build: Update all tools (#70)
  .goreleaser.yml
  .pre-commit-config.yaml
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  devbox.json
  devbox.lock
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint, chart-docs, check-devbox-lock

feat: go 1.24.1
  go.mod
Due: golangci-lint

feat: go 1.24.1 (#71)
  go.mod
Due: golangci-lint

feat: use converged prism client
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  go.mod
  go.sum
  internal/client/client.go
  internal/client/cluster.go
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint

ci: bump devbox install action
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-tag.yml
  .github/workflows/synopsys.yaml
Due: none

ci: update devbox install action to v0.15
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-tag.yml
  .github/workflows/synopsys.yaml
Due: none

ci: update devbox install action to v0.15 (#74)
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-tag.yml
  .github/workflows/synopsys.yaml
Due: none

fix: run snapshot manifest hooks in one shell
  .goreleaser.yml
Due: none

fix: run snapshot manifest hooks in one shell (#76)
  .goreleaser.yml
Due: none

ci: migrate to Black Duck security scan action
  .github/workflows/synopsys.yaml
Due: none

ci: migrate to Black Duck security scan action (#77)
  .github/workflows/synopsys.yaml
Due: none

feat: use converged prism client (#75)
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  go.mod
  go.sum
  internal/client/client.go
  internal/client/cluster.go
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint

ci: use go1.26.3 toolchain
  go.mod
Due: golangci-lint

ci: use go 1.25 module version
  go.mod
Due: golangci-lint

ci: update golangci-lint for go1.26.3
  .golangci.yml
  devbox.lock
Due: check-devbox-lock

ci: fix golangci-lint workflow inputs
  .github/workflows/checks.yml
Due: none

ci: fix actionlint reviewdog input
  .github/workflows/checks.yml
Due: none

ci: use go1.25 and go1.26.3 toolchain (#79)
  .github/workflows/checks.yml
  .golangci.yml
  devbox.lock
  go.mod
Due: golangci-lint, check-devbox-lock

build: update dependencies and toolchain
  .golangci.yml
  devbox.lock
  go.mod
  go.sum
Due: golangci-lint, check-devbox-lock

feat: migrate IPAM provider to converged client and CAPI v1beta2
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/validation_test.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  cmd/controller/main.go
  internal/client/client.go
  internal/client/cluster.go
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  internal/index/index.go
  internal/test/envtest/environment.go
Due: golangci-lint

test: add live Prism Central IPAM e2e
  .gitignore
  make/go.mk
  make/goreleaser.mk
  make/kind.mk
  make/make.mk
  test/e2e/caipamx_test.go
  test/e2e/config/caipamx.yaml
  test/e2e/data/ipam/metadata.yaml
Due: golangci-lint

ci: gate Nutanix e2e on integration-test label
  .github/actionlint.yaml
  .github/workflows/checks.yml
Due: none

feat: return unreserved IPs from the networking client
  cmd/caipamx/unreserve.go
  go.mod
  go.sum
  internal/client/networking.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  test/e2e/caipamx_test.go
Due: golangci-lint

feat: move to v1beta2 contract and add e2e test (#80)
  .github/actionlint.yaml
  .github/workflows/checks.yml
  .gitignore
  .golangci.yml
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/validation_test.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  cmd/controller/main.go
  devbox.lock
  go.mod
  go.sum
  internal/client/client.go
  internal/client/cluster.go
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  internal/index/index.go
  internal/test/envtest/environment.go
  make/go.mk
  make/goreleaser.mk
  make/kind.mk
  make/make.mk
  test/e2e/caipamx_test.go
  test/e2e/config/caipamx.yaml
  test/e2e/data/ipam/metadata.yaml
Due: golangci-lint, check-devbox-lock

Path conditions:
  schema-chart: any of: ^charts/[^/]+/values.yaml$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
