Repository nutanix-cloud-native/cluster-api-ipam-provider-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, golangci-lint, chart-docs, hugo-mod-tidy, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

ci: Add workflows
  .github/actionlint.yaml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/release.yaml
  .github/workflows/backport.yml
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conventional-label.yml
  .github/workflows/conventional-pr-title.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/github-pages.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release-please.yml
  .github/workflows/release-tag.yml
  .github/workflows/stacked-prs.yml
  .github/workflows/synopsys.yaml
Due: none

fixup! build: Use upstream prism-go-client
  go.mod
  go.sum
Due: golangci-lint

fixup! ci: Remove copy-pasted matrix configs
  .github/workflows/checks.yml
  .github/workflows/govulncheck.yml
Due: none

fixup! ci: Fix GHA permissions
  .github/workflows/checks.yml
Due: none

docs: Add docs site
  .goreleaser.yml
  README.md
  docs/README.md
  docs/archetypes/default.md
  docs/content/_index.md
  docs/content/contributing/_index.md
  docs/content/contributing/releasing.md
  docs/content/getting-started/_index.md
  docs/content/getting-started/deployment/_index.md
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  docs/content/getting-started/managing_ips/_index.md
  docs/go.mod
  docs/go.sum
  docs/hugo.toml
  docs/layouts/shortcodes/param.html
  docs/package-lock.json
  docs/package.json
  make/go.mk
Due: golangci-lint, hugo-mod-tidy

ci: Update release-please-action GH org
  .github/workflows/release-please.yml
Due: none

ci: Fix required token for gh calls
  .github/workflows/checks.yml
  .github/workflows/synopsys.yaml
Due: none

ci: Fix CI issues (#3)
  .github/workflows/checks.yml
  .github/workflows/release-please.yml
  .github/workflows/synopsys.yaml
Due: none

fixup! build: Pin prism-go-client
  .golangci.yml
  go.mod
  go.sum
Due: golangci-lint

build: Add empty release-please manifest
  .release-please-manifest.json
Due: none

build: Add empty release-please manifest (#4)
  .release-please-manifest.json
Due: none

build: Ensure release-please manifest is valid JSON
  .release-please-manifest.json
Due: none

build: Ensure release-please manifest is valid JSON (#5)
  .release-please-manifest.json
Due: none

build: Latest prism-go-client
  .github/dependabot.yml
  go.mod
  go.sum
Due: golangci-lint

build: Latest prism-go-client (#9)
  .github/dependabot.yml
  go.mod
  go.sum
Due: golangci-lint

refactor: Move v4 client sugar back to this project
  .golangci.yml
  api/v1alpha1/nutanixippool_types.go
  api/v1alpha1/validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_globalnutanixippools.yaml
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  charts/cluster-api-ipam-provider-nutanix/templates/role.yaml
  cmd/main.go
  examples/ipaddressclaim.yaml
  go.mod
  go.sum
  hack/enhance-crd-validation.sh
  internal/client/client.go
  internal/client/cluster.go
  internal/client/generic_opts.go
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  internal/controllers/nutanix_client_cache.go
  internal/controllers/suite_test.go
  internal/test/envtest/environment.go
  make/kind.mk
Due: golangci-lint, chart-docs

fixup! refactor: Make additionalTrustBundle a byte slice
  api/v1alpha1/nutanixippool_types.go
  api/v1alpha1/validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  examples/ipaddressclaim.yaml
  internal/controllers/ipaddressclaim.go
Due: golangci-lint, chart-docs

fixup! refactor: Remove opts funcs
  internal/client/generic_opts.go
  internal/client/networking.go
  internal/client/prism.go
Due: golangci-lint

fixup! refactor: Do not assume a subnet cannot have a uuid for a name
  internal/client/networking.go
Due: golangci-lint

refactor: Move v4 client sugar back to this project (#13)
  .golangci.yml
  api/v1alpha1/nutanixippool_types.go
  api/v1alpha1/validation_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_globalnutanixippools.yaml
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  charts/cluster-api-ipam-provider-nutanix/templates/role.yaml
  cmd/main.go
  examples/ipaddressclaim.yaml
  go.mod
  go.sum
  hack/enhance-crd-validation.sh
  internal/client/client.go
  internal/client/cluster.go
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  internal/controllers/nutanix_client_cache.go
  internal/controllers/suite_test.go
  internal/test/envtest/environment.go
  make/kind.mk
Due: golangci-lint, chart-docs

feat: Build with go 1.23
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: golangci-lint, check-devbox-lock

feat: Configurable reconciliation (max concurrent and requeue delays)
  charts/cluster-api-ipam-provider-nutanix/README.md
  charts/cluster-api-ipam-provider-nutanix/templates/deployment.yaml
  charts/cluster-api-ipam-provider-nutanix/templates/role.yaml
  charts/cluster-api-ipam-provider-nutanix/values.schema.json
  charts/cluster-api-ipam-provider-nutanix/values.yaml
  cmd/main.go
  go.mod
  internal/controllers/ipaddressclaim.go
Due: schema-chart, golangci-lint, chart-docs

fixup! refactor: Explicitly specify empty defaults for leader election
  cmd/main.go
Due: golangci-lint

fixup! refactor: Correctly rename to max-concurrent-reconciles
  charts/cluster-api-ipam-provider-nutanix/templates/deployment.yaml
  internal/controllers/ipaddressclaim.go
Due: golangci-lint, chart-docs

refactor: Update all short names from CAIPAMN to CAIPAMX
  .goreleaser.yml
  README.md
  docs/content/_index.md
  docs/content/getting-started/_index.md
  docs/content/getting-started/deployment/_index.md
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  docs/content/getting-started/managing_ips/_index.md
  docs/hugo.toml
  make/dev.mk
  make/go.mk
Due: golangci-lint, hugo-mod-tidy

feat: Build with go 1.23 (#16)
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
Due: golangci-lint, check-devbox-lock

refactor: Update all short names from CAIPAMN to CAIPAMX (#17)
  .goreleaser.yml
  README.md
  docs/content/_index.md
  docs/content/getting-started/_index.md
  docs/content/getting-started/deployment/_index.md
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/deployment/via-helm.md
  docs/content/getting-started/managing_ips/_index.md
  docs/hugo.toml
  make/dev.mk
  make/go.mk
Due: golangci-lint, hugo-mod-tidy

feat: Configurable reconciliation (max concurrent and requeue delays) (#15)
  charts/cluster-api-ipam-provider-nutanix/README.md
  charts/cluster-api-ipam-provider-nutanix/templates/deployment.yaml
  charts/cluster-api-ipam-provider-nutanix/templates/role.yaml
  charts/cluster-api-ipam-provider-nutanix/values.schema.json
  charts/cluster-api-ipam-provider-nutanix/values.yaml
  cmd/main.go
  go.mod
  internal/controllers/ipaddressclaim.go
Due: schema-chart, golangci-lint, chart-docs

fix: Use least privileges for CM role
  charts/cluster-api-ipam-provider-nutanix/templates/role.yaml
  internal/controllers/ipaddressclaim.go
Due: golangci-lint, chart-docs

build: Update deps to fix licensing issues
  go.mod
  go.sum
Due: golangci-lint

fix: Use least privileges for CM role (#18)
  charts/cluster-api-ipam-provider-nutanix/templates/role.yaml
  internal/controllers/ipaddressclaim.go
Due: golangci-lint, chart-docs

build: Update deps to fix licensing issues (#19)
  go.mod
  go.sum
Due: golangci-lint

build: Upgrade github.com/hashicorp/go-retryablehttp for CVE
  go.mod
  go.sum
Due: golangci-lint

build: Upgrade github.com/hashicorp/go-retryablehttp for CVE (#20)
  go.mod
  go.sum
Due: golangci-lint

release(main): v0.1.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

release(main): v0.1.0 (#6)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

build: Fix up ko image build for release
  .goreleaser.yml
Due: none

build: Fix up ko image build for release (#21)
  .goreleaser.yml
Due: none

release(main): v0.1.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

Path conditions:
  schema-chart: any of: ^charts/[^/]+/values.yaml$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
