Repository nutanix-cloud-native/cluster-api-ipam-provider-nutanix: changes, and which pre-commit hooks are due for each by the changed paths.
All: schema-chart, golangci-lint, chart-docs, hugo-mod-tidy, check-devbox-lock

schema-chart:
  name: schema-chart
  entry: make schema-chart
  language: system

golangci-lint:
  name: golangci-lint
  entry: make go-generate lint
  language: system
  pass_filenames: false

chart-docs:
  name: chart-docs
  entry: make chart-docs
  language: system
  pass_filenames: false

hugo-mod-tidy:
  name: hugo-mod-tidy
  entry: bash -c "cd docs && hugo mod tidy"
  language: system
  pass_filenames: false

check-devbox-lock:
  name: check-devbox-lock
  entry: devbox install
  language: system
  pass_filenames: false

release(main): v0.1.1 (#22)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

build: Add missing release metadata files to release artifacts
  .goreleaser.yml
Due: none

build: Add missing release metadata files to release artifacts (#23)
  .goreleaser.yml
Due: none

release(main): v0.1.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

release(main): v0.1.2 (#24)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: Use recommended provider label from clusterctl
  charts/cluster-api-ipam-provider-nutanix/templates/_helpers.tpl
Due: chart-docs

fix: Use recommended provider label from clusterctl (#25)
  charts/cluster-api-ipam-provider-nutanix/templates/_helpers.tpl
Due: chart-docs

feat: Store ntnx API req ID as annotations on IPAddressClaim
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint

fixup! refactor: Address review feedback, especially re comments
  internal/client/networking.go
  internal/client/prism.go
Due: golangci-lint

feat: Build with go 1.23.1
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.nix
Due: golangci-lint, check-devbox-lock

fixup! refactor: Update error handling
  internal/client/networking.go
Due: golangci-lint

feat: Store ntnx API req ID as annotations on IPAddressClaim (#27)
  internal/client/networking.go
  internal/client/prism.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint

release(main): v0.2.0 (#26)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
  metadata.yaml
  release-please-config.json
Due: hugo-mod-tidy

feat: Build with go 1.23.1 (#31)
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.nix
Due: golangci-lint, check-devbox-lock

fix: corrected the path in the docs
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/managing_ips/_index.md
Due: hugo-mod-tidy

fixup! docs: Fix up component URL
  docs/content/getting-started/deployment/via-clusterctl.md
Due: hugo-mod-tidy

fix: corrected the path in the docs (#32)
  docs/content/getting-started/deployment/via-clusterctl.md
  docs/content/getting-started/managing_ips/_index.md
Due: hugo-mod-tidy

feat: go 1.23.2 and all other tooling upgrades
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
  make/kind.mk
Due: golangci-lint, chart-docs, check-devbox-lock

feat: go 1.23.2 and all other tooling upgrades (#34)
  charts/cluster-api-ipam-provider-nutanix/crds/ipam.cluster.x-k8s.io_nutanixippools.yaml
  devbox.json
  devbox.lock
  go.mod
  hack/flakes/flake.lock
  hack/flakes/flake.nix
  make/go.mk
  make/kind.mk
Due: golangci-lint, chart-docs, check-devbox-lock

feat: Add CLI tool to reserve and unreserve IP addresses
  .goreleaser.yml
  README.md
  cmd/caipamx/client_params.go
  cmd/caipamx/main.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  cmd/controller/main.go
  go.mod
  go.sum
  internal/client/networking.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  internal/poolutil/pool.go
Due: golangci-lint

fixup! feat(cli): Enable configuration of user and password via env vars
  README.md
  cmd/caipamx/client_params.go
  cmd/caipamx/main.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  go.mod
  go.sum
Due: golangci-lint

fixup! refactor: Address rewview feedback
  cmd/caipamx/client_params.go
  cmd/caipamx/main.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  internal/client/networking.go
  internal/controllers/ipaddressclaim.go
Due: golangci-lint

fixup! refactor: Return error if ip set is larger than MaxInt64
  .goreleaser.yml
  internal/client/networking.go
  internal/poolutil/pool.go
Due: golangci-lint

fixup! refactor: Rename ReserveIPs/UnreserveIPs
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  internal/client/networking.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
Due: golangci-lint

feat: Add CLI tool to reserve and unreserve IP addresses (#42)
  .goreleaser.yml
  README.md
  cmd/caipamx/client_params.go
  cmd/caipamx/main.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
  cmd/controller/main.go
  go.mod
  go.sum
  internal/client/networking.go
  internal/controllers/ipaddressclaim.go
  internal/controllers/ipaddressclaim_test.go
  internal/controllers/mockclient/mock_client.go
  internal/poolutil/pool.go
Due: golangci-lint

release(main): v0.3.0 (#38)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

build: Fix up release archives
  .goreleaser.yml
  go.mod
Due: golangci-lint

build: Fix up release archives (#43)
  .goreleaser.yml
  go.mod
Due: golangci-lint

release(main): v0.3.1
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

release(main): v0.3.1 (#44)
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

docs: Add caipamx CLI download instructions
  README.md
Due: none

docs: Add caipamx CLI download instructions (#45)
  README.md
Due: none

feat(cli): Support insecure flag for connecting to Prism
  cmd/caipamx/client_params.go
  cmd/caipamx/main.go
Due: golangci-lint

refactor: Rename cluster flag to aos-cluster
  README.md
  cmd/caipamx/main.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
Due: golangci-lint

feat(cli): Support insecure flag for connecting to Prism (#48)
  cmd/caipamx/client_params.go
  cmd/caipamx/main.go
Due: golangci-lint

refactor: Rename cluster flag to aos-cluster (#49)
  README.md
  cmd/caipamx/main.go
  cmd/caipamx/reserve.go
  cmd/caipamx/unreserve.go
Due: golangci-lint

release(main): v0.4.0
  .release-please-manifest.json
  CHANGELOG.md
  docs/hugo.toml
Due: hugo-mod-tidy

fixup! docs: Update release version
  README.md
Due: none

release(main): v0.4.0 (#50)
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  docs/hugo.toml
Due: hugo-mod-tidy

fix: in getSubnetByExtID type is already dereferenced
  internal/client/networking.go
Due: golangci-lint

Path conditions:
  schema-chart: any of: ^charts/[^/]+/values.yaml$
  golangci-lint: any of: (.*\.go|go.mod|go.sum|go.mk)$
  chart-docs: any of: ^charts/
  hugo-mod-tidy: any of: ^docs/
  check-devbox-lock: any of: ^devbox.(yaml|lock)$
